{% include 'common/_header.html' %}

<!-- Sets up jumbotron -->
<div class="jumbotron col-md-12" style="height: 350px; padding-top:75px">
	<h1 class = "jTextTop">G A U S S</h1>
	<p class="tronText">Gillespie Algorithm Used for Stochastic Simulation</p>
	<p><a class="btn btn-primary btn-lg tronText" href="/skeletonpages/simulations/new/" role="button">Get Started</a></p>
</div>

<!-- Three columns of text below the carousel -->
<div class="container marketing">
	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle" src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Checklist-512.png" alt="Generic placeholder image" width="140" height="140">
			<h2>Easy</h2>
			<p>Upload constraints using a .react file.</p>
			<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Microchip-512.png" alt="Generic placeholder image" width="140" height="140">
			<h2>Fast</h2>
			<p>Using a custom-made Gillespie Algorithm powered engine and our Django backend, GAUSS will get your results in a snap.</p>
			<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Analytics-512.png" alt="Analytical" width="140" height="140">
			<h2>Analytical</h2>
			<p>GAUSS utilizes plotly.js, a powerful Javascript Library for graphing. Data can be downloaded as a .csv file.</p>
			<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</div>

{% include 'common/_footer.html' %}