{% include 'common/_header.html' %}

<!-- Sets up jumbotron -->
<div class="jumbotron col-md-12">
	<h1 class = "jTextTop">Stochastic Simulator</h1>
	<p>Read on to learn more about the project and demo it</p>
	<p><a class="btn btn-primary btn-lg" href="/skeletonpages/input/" role="button">Get Started</a></p>
</div>

<!-- Three columns of text below the carousel -->
<div class="container marketing">
	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle" src="https://c1.staticflickr.com/3/2883/11344901275_be392a33c5_z.jpg" alt="Generic placeholder image" width="140" height="140">
			<h2>Easy</h2>
			<p>Upload constrains using a .react file, or input the data manually</p>
			<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="https://c1.staticflickr.com/3/2883/11344901275_be392a33c5_z.jpg" alt="Generic placeholder image" width="140" height="140">
			<h2>Fast</h2>
			<p>Using a custom made Gillespie engine and our Django backend, GAUSS will get your results in a snap</p>
			<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="https://c1.staticflickr.com/3/2883/11344901275_be392a33c5_z.jpg" alt="Generic placeholder image" width="140" height="140">
			<h2>Analytical</h2>
			<p>GAUSS utilizes plotly.js, a powerful Javascript library for graphing. Data can be downloaded as a .csv file as well</p>
			<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</div>

{% include 'common/_footer.html' %}