{% include 'common/_header.html' %}
<div class = "container input">
<div class="row" align= "center">
  <h1 id="title">Upload file</h1>

  <p></p>
  <form action="{% url 'input' %}" method="post" enctype="multipart/form-data">
  <div class="col-lg-12">
    <div class="col-lg-4 col-lg-offset-4">
    <div class = "form-group">
      {{ form.input_file }}
      <!--div class="form-group">
        <label for="id_input_file">Upload .react here</label>
        <input type="file" id="id_input_file">
      </div>
    </div--><!-- /.col-lg-6 -->
    </div>
    </div>
  </div>

  <br><br>

  <div class="row" style="padding-top: 120px;">
    <h1>Input data manually</h1>

  </div>

  <div class="row" id="body">
    <div class="col-lg-12" align="center">
      
      <div class="bodyArea">
          {% csrf_token %}
        <div class="input-group col-lg-3" align="center">
          <label>Number of Iterations:</label>
          <input type="text" class="form-control" id="num_of_iterations" placeholder="Number of Iterations" aria-describedby="basic-addon1">
        </div>

        <div class="col-lg-6">
          <label>Reagents:</label>
          <input type="text" class="form-control" id="reagent" placeholder="Reagent Name" aria-describedby="basic-addon1">
          <input type="text" class="form-control" id="reagent_concen" placeholder="Reagent Concentration" aria-describedby="basic-addon1">
        </div>
        <div class="col-lg-6">
          <label>List of Reagent Names:</label>
          <li class="list-group-item" id="reagentNamesList">List of Reagent Names</li>
          <label>List of Reagent Concentrations:</label>
          <li class="list-group-item" id="reagentConcenList">List of Reagent Concentrations</li>
        </div>
        <div id="incomplete_reagent" class="alert alert-danger" role="alert" style="display:none">
          You must fill out both Reagent Name and Reagent Concentration.
        </div>

        <div class="row col-lg-12" align="center" style="padding-top:20px;">
          <button type="button" class="btn btn-default ghost-btn" id="add_reagent">Add Reagent</button>
        </div>

        <div class="row col-lg-6">
          <label>Reactions:</label>
          <input type="text" class="form-control" id="reaction" align="center" placeholder="Reaction Formula" aria-describedby="basic-addon1">
        </div>

        <div class="col-lg-6">
          <label>List of Reactions:</label>
          <li class="list-group-item" id="reactionList">List of Reactions</li>
        </div>

        <div id="incomplete_reaction" class="alert alert-danger" role="alert" style="display:none">
          You must enter a Reaction Formula.
        </div>

        <div class="row col-lg-12" style="padding-top:20px;">
          <button type="button" class="btn btn-default ghost-btn" id="add_reaction">Add Reaction</button>
        </div>
        
        <div class="row col-lg-12">
          <label>Output Frequency:</label>
          <input type="text" class="form-control" id="output_frequency" placeholder="Output Frequency" aria-describedby="basic-addon1">
        </div>

        <div class="row col-lg-12">
          <label>Random Seed:</label>
          <input type="text" class="form-control" id="random_seed" placeholder="Random Seed" aria-describedby="basic-addon1">
        </div>

        <div id="incomplete_data" class="alert alert-danger" role="alert" style="display:none">
          You must enter have data for all fields.
        </div>

        <div class="row col-lg-12" align="center">
          <input type="submit" class="btn btn-default ghost-btn" id="run_sim" value="Run Simulation">
        </div>

        <div class="row">
          <ul class="list-group" id="listOfInputs">
              
              
              
          </ul>
        </div>

      </div>
    </div>
  </div>
  </form>
</div>


<script>
  var all_reagent_names = [];
  var all_reagent_concen = [];
  $("#add_reagent").click(function(){
      var reagent_name = $("#reagent").val();
      var reagent_concen = $("#reagent_concen").val();

      if (reagent_name == "" || reagent_concen == "") {
        $("#incomplete_reagent").attr("style", "display:block");
      }
      else {
        $("#incomplete_reagent").hide();
        all_reagent_names.push(reagent_name);
        all_reagent_concen.push(reagent_concen);
        $("#reagent").val("");
        $("#reagent_concen").val("");

        $("#reagentNamesList").text("[" + all_reagent_names + "]");
        $("#reagentConcenList").text("[" + all_reagent_concen + "]");
      }
  });

  var all_reactions = [];
  $("#add_reaction").click(function(){
      var reaction = $("#reaction").val();

      if (reaction == "") {
        $("#incomplete_reaction").attr("style", "display:block");
      }
      else {
        $("#incomplete_reaction").hide();
        all_reactions.push(reaction);
        $("#reaction").val("");

        $("#reactionList").text(all_reactions);
      }
  });

  $("#run_sim").click(function(){
      if (num_of_iterations == "" || output_frequency == "" || random_seed == "") {
        $("#incomplete_data").attr("style", "display:block");
      }
      else {
        $("#incomplete_reaction").hide();

        var link = document.getElementById('downloadlink');

        var num_of_iterations = $("#num_of_iterations").val();
        var data = "[Iterations]\n" + num_of_iterations

      }
  });

  var textFile = null,
  makeTextFile = function (text) {
    var data = new Blob([text], {type: 'text/plain'});

    // If we are replacing a previously generated file we need to
    // manually revoke the object URL to avoid memory leaks.
    if (textFile !== null) {
      window.URL.revokeObjectURL(textFile);
    }

    textFile = window.URL.createObjectURL(data);

    return textFile;
  };
</script>


<script>
  var count = 0;
  $("#addData").click(function(){

  alert("chris got no game");
    if (count === 0)
    {
      var text = $("#molecule").val();
      $("#moleculeList").text(text);

      var initconcen = $("#initConcen").val();
      alert(initconcen);
      initconcen = text.substring(0,3) + "-" + initconcen;
      $("#concentrations").text(initconcen);


      count ++;
    }
    else
    {
      var text = $("#moleculeList").text();   //variable gets text inside of mol. list
      var newText = $("#molecule").val();   //variable gets value of inputted concentration
      newText = newText.substring(0,3);       //cuts newText to only first 3 letters
      text = text + ", " + $("#molecule").val(); //creates total text value for mol. list
      $("#moleculeList").text(text);

      var initconcen = $("#concentrations").text();
      var x = parseInt($("#initConcen").text());
      initconcen = initconcen + ", " + newText + "-" + x;
      $("#concentrations").text(initconcen);


    }
  });
</script>

<style>
.row{
  padding: 10px;
}
#body{
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
</style>

</div>
{% include 'common/_footer.html' %}