{% include "common/_header.html" %}

<div class="before-processing">
  <div class="row">
    <div class="jumbotron col-md-12">
      <div class="text-center">
        <h1 style="font-size: 80px">New Simulation</h1>
        <div class="new-simulation-description">
          Please upload a file in GAUSS .react format.
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">

        <form action="{% url 'create_simulation_ajax' %}" method="post" enctype="multipart/form-data">
          <div id="myAlert" class="alert alert-danger">
             <a href="#" class="close" data-dismiss="alert">&times;</a>
             Your input file is invalid - please check and re-upload.
          </div>
          <div id="successAlert" class="alert alert-success">
             <a href="#" class="close" data-dismiss="alert">&times;</a>
             Your input file is valid - run simulation now.
          </div>
          <div id="csrf">
            {% csrf_token %}
          </div>
          <p>{{ form.non_field_errors }}</p>
          <p class="text-center">
              {{ form.input_file.errors }} <!-- id = id_input_file -->
              <input class="btn btn-default" id="id_input_file" name="input_file" type="file" style="width:  100%;">
          <br>
          <input placeholder="Name" class="form-control" id="simulation_name" name="name" type="text" />
          <br>
          <textarea placeholder="Description" class="form-control" id="simulation_description" name="description" type="textarea" rows="4"></textarea>
          <br>
          <textarea readonly placeholder="REACT File Contents" class="form-control" id="file_output" name="FileOutput" type="textarea" rows="7"></textarea>
          <br>
          <p><button value="Upload" class="btn btn-primary btn-lg" id="submitted">Start Simulation</button></p>
        </form>
          <p><button value="Validate Data" class="btn btn-primary btn-lg"
          id="validate">Validate</button></p>


      </div>
    </div>
  </div>
</div>

<div class="while-processing" style="display: none">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">

        <div class="gauss" style="font-size:60px">
          GAUSS IS PROCESSING
        </div>
        <img src="/static/spinner.gif">
        <div class="gauss" style="font-size:60px">
          PLEASE WAIT
        </div>


      </div>
    </div>
  </div>
</div>

<br><br><br>

<div class="row gauss-row">
  <div class="col-md-12">
    <div class="text-center gauss gauss-jumbotron" style="color:white;">
      GAUSS
    </div>
  </div>
</div>


{% include "common/_footer.html" %}

<script>

  $(document).ready(function(){
    $("#submitted").hide();
    $("#myAlert").hide();
    $("#successAlert").hide();
    $("#submitted").click(function(){
      $(".before-processing").toggle();
      $(".while-processing").toggle();
      var file = $("#id_input_file").prop("files")[0];
      var name = $("#simulation_name").val();
      var desc = $("#simulation_description").val();
      
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", $("#csrf").find("input").prop("value"));
          }
        }
      });

      $.ajax({
        url: '/skeletonpages/simulations/create/ajax',
        type: 'POST',
        data: {name: name, description: desc, file: file},
        processData: false,
        beforeSend: function(xhr, settings){
          console.log("before send...");
          $.ajaxSettings.beforeSend(xhr, settings);
        }
      })
      .done(function() {
        console.log("success");
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      });


      function start_pinging(){
        setInterval(function(){
          $.ajax({
            url: '/skeletonpages/keep_alive/',
          })
          .success(function(data) {
            console.log( data );
          });
          
        }, 15*1000)          
      }
      
      start_pinging();

    });

    $("#id_input_file").change(function(){
      $("#myAlert").hide();
      $("#successAlert").hide();
      $("#submitted").hide();
      $("#validate").show();
      r = new FileReader();
      r.onload = function (e) { 
        var contents = e.target.result;
        $("#file_output").text(contents);
      };
      var file = $("#id_input_file").prop("files")[0];
      r.readAsText(file);
    })

    $("#validate").click(function(){
      var name = $("#simulation_name").val();
      var desc = $("#simulation_description").val();
      var str = $("#file_output").val();
      var validate = 1;     

      $.ajax({
        url: '/skeletonpages/simulations/create/ajax',
        type: 'GET',
        data: {name: name, description: desc, validate: validate, str: str}
      })
      .done(function() {
        $("#submitted").show();
        $("#validate").hide();
        $("#successAlert").show();

      })
      .fail(function() {
        $("#myAlert").show();
      })
      

    });

  });

</script>