{% include 'common/_header.html' %}
<div class="row col-lg-12" style="padding-bottom:50px" align="center">
	<button type="button" class="btn btn-default" id="downloadFile">Download .react File</button>
</div>


<div class="row">
	<div id="data" class="col-md-4 col-md-offset-1 pre-scrollable" align="center">
	</div>

	<div class="col-md-5 col-md-offset-1" align="center">
		<div id="myDiv" width="500" height="400"></div>
		<script>
			var trace1 = {
				x: [0, 1, 2, 3, 4, 5, 6, 7, 8], 
				y: [0, 1, 2, 3, 4, 5, 6, 7, 8], 
				name: "Name of Trace 1", 
				type: "scatter"
			};
			var trace2 = {
				x: [0, 1, 2, 3, 4, 5, 6, 7, 8], 
				y: [1, 0, 3, 2, 5, 4, 7, 6, 8], 
				name: "Name of Trace 2", 
				type: "scatter"
			};
			var data = [trace1, trace2];
			var layout = {
				title: "Plot Title", 
				xaxis: {
					title: "x Axis", 
					titlefont: {
						family: "Courier New, monospace", 
						size: 18, 
						color: "#7f7f7f"
					}
				}, 
				yaxis: {
					title: "y Axis", 
					titlefont: {
						family: "Courier New, monospace", 
						size: 18, 
						color: "#7f7f7f"
					}
				}
			};
			Plotly.plot("myDiv", data, layout);
		</script>

		<script type="text/javascript"charset="utf-8">
			var dt = [];
            d3.text("http://vincentarelbundock.github.io/Rdatasets/csv/datasets/AirPassengers.csv", function(data)
            	{
	                var parsedCSV = d3.csv.parseRows(data);
	                for (var i=1; i<parsedCSV.length; i++)
	                {
	                	dt.push([parsedCSV[i][1],parsedCSV[i][2]]);
	                }
	                var container = d3.select("div#data")
	                    .append("table").classed('table table', true)
	                    .selectAll("tr")
	                        .data(parsedCSV).enter()
	                        .append("tr")
	                    .selectAll("td")
	                        .data(function(d) { return d; }).enter()
	                        .append("td")
	                        .text(function(d) { return d; });
            	}
            );
        </script>
	</div>
	<script>
	$("#downloadFile").click(function(){
		//add code to pull all of data and format it as .react 
		var textFile = null;
  		makeTextFile = function (text) {
    	var data = new Blob([text], {type: 'text/plain'});
	    // If we are replacing a previously generated file we need to
	    // manually revoke the object URL to avoid memory leaks.
	    if (textFile !== null) {
	      window.URL.revokeObjectURL(textFile);
	    }
	    textFile = window.URL.createObjectURL(data);
	    return textFile;
		}});
	</script>
</div>

{% include 'common/_footer.html' %}