{% include "common/_header.html" %}

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h1>Simulation Overview</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="name-header">
      <b>Name:
      </b>
    </div>
    <div class="name-text">{{ simulation.name }}</div>
  </div>
  <div class="col-md-5">
    <div class="description-header">
      <b>Description:</b>
    </div>
    <div class="description-text">
      {{ simulation.description }}
    </div>
  </div>
</div>

<br><br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <h1 style="font-size: 80px">This is the place where beautiful graphs will go.</h1>
      <div id="myDiv"></div>
      <script>
        var simulation_values = {{ simulation_values }}
        var keys = []
        for (var key in simulation_values) {
          keys.push(key)
        }
        console.log(simulation_values)
        console.log(keys)
        var trace1 = {
            x: simulation_values.R,
            y: simulation_values.W, 
            name: "Name of Trace 1", 
            type: "scatter"
          };
          var data = [trace1];
          var layout = {
            title: "Plot Title", 
            xaxis: {
              title: "Rabbits", 
              titlefont: {
                family: "Courier New, monospace", 
                size: 18, 
                color: "#7f7f7f"
              }
            }, 
            yaxis: {
              title: "Wolves", 
              titlefont: {
                family: "Courier New, monospace", 
                size: 18, 
                color: "#7f7f7f"
              }
            }
          };
          Plotly.plot("myDiv", data, layout);
      </script>

    </div>
  </div>
</div>

<div class="row">
  <div id="data" class="col-md-4 col-md-offset-1 pre-scrollable" align="center">
  </div>

<br><br><br><br><br><br>

<script>

  $(document).ready(function(){
    var output_values = {{ simulation_values }};

    // now access stuff like...
    // output_values.R
    // output_values.Time
    // output_values.W
    // ....

  });

</script>

{% include "common/_footer.html" %}