{% include "common/_header.html" %}

<div class="jumbotron" onload="onLoad()">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1>Simulation Overview</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <div class="name-header">
        <b>Name:
        </b>
      </div>
      <div class="name-text">{{ simulation.name }}</div>
    </div>
    <div class="col-md-2">
      <div class="description-header">
        <b>Description:</b>
      </div>


      <div class="description-text">
        {{ simulation.description }}
      </div>
    </div>
    <div class="col-md-2">
      <div class="file-download-header">
        <b>Output:</b>
      </div>
      <div class="file-download-text">
        <a href="{{ simulation.output_file.url }}">
          <button href="{{ simulation.output_file.url }}" class="btn btn-success">Download as CSV</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row col-lg-12" align="center">
  <h3>2D Plot:</h3>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <h4> Select X Axis Variable:</h4>
    <div class="radio" style="line-height:22px;">
    {% for name in variable_names %}
        <input type="radio" name="optionsRadiosX" id="checkbox-x-{{name}}" class="axis-checkbox-x" data-varkey="{{name}}"> {{name}}
        <br>
    {% endfor %}
    </div>
  </div>
  <div class="col-md-3">
    <h4> Select Y Axis Variable:</h4>
    {% for name in variable_names %}
        <input type="checkbox" id="checkbox-y-{{name}}" class="axis-checkbox-y" data-varkey="{{name}}"> {{name}}
        <br>
    {% endfor %}
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="text-center">
      <div id="myChart"></div>
    </div>
  </div>
</div>

<br><br><br>

<div class="row" id="three-d">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <h3>3D Plot:</h3>
      <div id="myChart3d"></div>
    </div>
  </div>
</div>

<br><br>

<div class="row gauss-row">
  <div class="col-md-12">
    <div class="text-center gauss gauss-jumbotron" style="color:white;">
      GAUSS
    </div>
  </div>
</div>

<script>

  $(document).ready(function(){
    // get the chart element
    var chart = document.getElementById("myChart");

    // initialize the window variable
    window.scireact = {}
    window.scireact.simulation_values = {{ simulation_values }};

    // shove the keys into a list
    window.scireact.keys = []
    for (key in window.scireact.simulation_values){
      if (window.scireact.simulation_values.hasOwnProperty(key)){
        window.scireact.keys.push(key);
      }
    }

    // the starting x variable will always be time
    var x_variable_name = "Time";

    // the first y variable will be just one of the non-time vars
    var first_y_variable_name = window.scireact.keys[0];

    // if you accidentally picked time, pick the first non-time one
    if ( first_y_variable_name == "Time" ){
      first_y_variable_name = window.scireact.keys[1];
    }

    // set the x, y, and plot type
    var trace1 = [{
      x: window.scireact.simulation_values[x_variable_name],
      y: window.scireact.simulation_values[first_y_variable_name],
      name: first_y_variable_name,
      type: "scatter"
    }]

    // set the layout
    var layout = {
      showlegend: true,
      legend: {
        x: 1,
        y: 1
      },
      title: "{{ simulation.name }}",
      xaxis: {
        title: x_variable_name,
        titlefont: {
          family: "Courier New, monospace",
          size: 18,
          color: "#7f7f7f"
        },
        autorange: true,
        zeroline: true
      },
      yaxis: {
        title: "Count",
        titlefont: {
          family: "Courier New, monospace",
          size: 18,
          color: "#7f7f7f"
        },
        autorange: true,
        zeroline: true
      }
    };

    // plot it!
    Plotly.plot(chart, trace1, layout);

    // autoscale it by clicking (lol)
    $(".modebar-btn[data-title='Autoscale']")[0].click();

    // hide the 3D thing if necessary
    var checkboxes = $( ":checkbox" )
    if( checkboxes.length != 3){
      $("#three-d").hide();
    }

    // find the time radio button and click it ^.^
    $(".axis-checkbox-x[data-varkey='Time']").click();

    // find the y checkbox and click it ^.^
    $(".axis-checkbox-y[data-varkey='" + first_y_variable_name +"']").click();

    add_variables_aside_from_time_to_y()

    function add_variables_aside_from_time_to_y(){
      for( var i = 0; i < $(".axis-checkbox-y").length; i++ ){
        var element = $($(".axis-checkbox-y")[i]);
        if( element.data().varkey != "Time" && element.is(":checked") == false )
        {
          variable = element.data().varkey;
          add_trace_for_xname_and_yname(x_variable_name, variable);
          element.prop("checked", true);
        }
      }
    }

    function add_trace_for_xname_and_yname( x_name, y_name ){
      var chart = document.getElementById("myChart");
      Plotly.addTraces(chart, 
        {
          x: window.scireact.simulation_values[x_name], 
          y: window.scireact.simulation_values[y_name],
          name: y_name,
          type: "scatter"
        }
      );
    }

    function createNumberArray(lowEnd, highEnd) {
        var start = lowEnd;
        var array = [start];
        while (start < highEnd) {
            start++;
            array.push(start);
        }
        return array
    } 

    $(".axis-checkbox-y").click(function(){

      // the goal is to delete ALL the traces
      // and then add back all the traces with the
      // current x variable and every possible y variable


      // get rid of all the other traces
      var chart = document.getElementById("myChart");
      if( chart.data.length > 0 ){
        var range = createNumberArray(-1 * chart.data.length, -1)
        Plotly.deleteTraces(chart, range);
      }

      // make new traces for every checked box
      var current_x_name = $(".axis-checkbox-x:checked").data().varkey;

      for( var i = 0; i < $(".axis-checkbox-y").length; i++ ){
        var element = $($(".axis-checkbox-y")[i]);
        if( element.is(":checked") == true )
        {
          variable = element.data().varkey;
          add_trace_for_xname_and_yname(current_x_name, variable);
        }
      }

    });

    $(".axis-checkbox-x").click(function(){

      // the goal is to delete ALL the traces
      // and then add back all the traces with the
      // current x variable and every possible y variable


      // get rid of all the other traces
      var chart = document.getElementById("myChart");
      var range = createNumberArray(-1 * chart.data.length, -1)
      Plotly.deleteTraces(chart, range);

      // make new traces for every checked box
      var current_x_name = $(".axis-checkbox-x:checked").data().varkey;

      console.log(current_x_name);

      for( var i = 0; i < $(".axis-checkbox-y").length; i++ ){
        var element = $($(".axis-checkbox-y")[i]);
        if( element.is(":checked") == true )
        {
          variable = element.data().varkey;
          add_trace_for_xname_and_yname(current_x_name, variable);
        }
      }

      var update = { 'xaxis.title': current_x_name }
      Plotly.relayout(chart, update);

    });

    var keys = window.scireact.keys;    

    if( keys.length == 3){

      var data3d = [{
        x: window.scireact.simulation_values[keys[0]],
        y: window.scireact.simulation_values[keys[1]],
        z: window.scireact.simulation_values[keys[2]],
        type: "scatter3d"
      }];
      var layout3d = {
        title: keys[0] + " vs " + keys[1] + " over " + keys[2], 
        xaxis: {
          title: keys[0], 
          titlefont: {
            family: "Courier New, monospace", 
            size: 18,
            color: "#7f7f7f"
          },
          autorange: true,
          zeroline: true
        },
        yaxis: {
          title: keys[1], 
          titlefont: {
            family: "Courier New, monospace", 
            size: 18, 
            color: "#7f7f7f"
          },
          autorange: true,
          zeroline: true
        },
        zaxis: {
          title: keys[2], 
          titlefont: {
            family: "Courier New, monospace", 
            size: 18, 
            color: "#7f7f7f"
          },
          autorange: true,
          zeroline: true
        }
      };
      Plotly.plot(myChart3d, data3d, layout3d);
    }

  })

</script>

{% include "common/_footer.html" %}