{% include "common/_header.html" %}



<div class="">
  <div class="row profile-detail-first-row">
    <div class="col-md-12 status-cols">
        <div class="my-profile" style="padding-top: 35px;">
          <div class="status text-center">
            SIMULATION SUBMITTED
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="submitted-text top-line">
      Thank you for using GAUSS.
    </div>
    <div class="submitted-text">
      Your simulation is now running.  Once you return to your profile, you will be able to see the status of your simulation at any time.
    </div>
    <div class="submitted-text" style="padding-bottom: 50px">
      Once your simulation is complete, simply click on its name to review the results.  You will be able to view several graphs of the output or, if you wish, download the full output file for your own analysis.
    </div>
  </div>
</div>





{% include "common/_footer.html" %}