{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load extras %}


{% block title %}GAUSS | SciReact{% endblock %}

{% block content %}
{% include "common/_header.html" %}

<div class="">

  <div class="row profile-detail-first-row">
    <div class="col-md-5 col-md-offset-1"  style="padding-bottom: 35px; color: white;">
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
        <div class="my-profile" style="padding-top: 35px;">My Profile</div>
        <div class="profile-group">
          <span class="profile-attribute">Name: </span>
          <span class="profile-attribute-value">{{ profile.user.get_full_name }}</span>
        </div>
        <div class="profile-group">
          <span class="profile-attribute">Email: </span>
          <span class="profile-attribute-value">{{ profile.user.email }}</span>
        </div>
        <div class="profile-group">
          <span class="profile-attribute">Organization: </span>
          <span class="profile-attribute-value">{{ profile.organization }}</span>
        </div>
        <div class="profile-group">
          <span class="profile-attribute">Fields: </span>
          <span class="profile-attribute-value">{{ profile.scientific_field }}</span>
        </div>
      {% endif %}

        <!-- <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" /> -->
    </div>
  </div>
  <br>
  <div class="row" style="margin-left: 7.5%">
    <div class="col-md-5 col-md-offset-1">
        <div class="my-profile" style="padding-top: 15px;">
          My Simulations
        </div>
    </div>
  </div>
  <div class="row" style="margin-left: 7.5%">
    <div class="col-md-5 col-md-offset-1">
      <div class="text-left">
        <a href="/skeletonpages/simulations/new/">
          <button class="btn btn-default">
            New Simulation
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<br><br>

<div class="col-lg-10 col-lg-offset-1">
{% for run in profile.algorithm_runs.all %}
  {% ifequal forloop.counter0|modulo:3 0 %}
    <div class="row" style="margin-left: 7.5%; margin-right: 7.5%; padding-bottom: 35px">
  {% endifequal %}
    <div class="col-md-4">
      <div class="run-container">
        <div class="run-top-portion">
          <div class="run-name text-center">
            {% if run.status == "COMPLETE" %}
              <span class="glyphicon glyphicon-ok" class="run-name" style="position: relative; float: left; color: green; padding-left: 5px; font-size: 13px;" title="This simulation has completed processing"></span>
            {% else %}
              <span class="glyphicon glyphicon-refresh" class="run-name" style="position: relative; float: left; color: gray; padding-left: 5px; font-size: 13px;" title="This simulation is still processing.  Check back soon!"></span>
            {% endif %}

            {% if run.status == "COMPLETE" %}
              <a href="/skeletonpages/simulations/{{run.id}}/show/" class="run-name"> {{ run.name }}</a>
            {% else %}
              {{ run.name }}
            {% endif %}
            <a href="/skeletonpages/simulations/{{run.id}}/delete/" class="run-name" style="position:relative;float:right;color:red;padding-right:5px;font-size:13px"> X</a>
          </div>
        </div>
        <div class="run-bottom-portion">
          <div class="run-desc text-center">
            <br>
            {{ run.description }}
          </div>
        </div>
      </div>
    </div>

  {% if forloop.counter0|modulo:3 == 2 or forloop.last %}
    </div>
    <br>
  {% endif %}
{% endfor %}
</div>

<div class="row gauss-row">
  <div class="col-md-12">

  </div>
</div>

{% include "common/_footer.html" %}  

<script>

$(window).load(function(){
  h = $(".background-image").height();
  $(".black-overlay-2").height(h);
});

</script>


<style type="text/css">
  .profile-group{
    font-family: Roboto;
    font-size: 15px;
    padding: 5px;
  }

</style>

{% endblock %}