      <br>

      <footer>

        <p class="pull-left" style="color: rgba(255, 255, 255, 0.44); padding-left: 25px; padding-top: 25px;" text-align="center" >
          Acknowledgements to <a href="https://plot.ly/javascript-graphing-library/" target="_blank">Plotly.js</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, and <a href="http://www.cmu.edu/" target="_blank">CMU. </a> Copyright © 2015 by <a href="http://sciences.pa-gov-schools.org/" target="_blank">PGSS</a>
        </p>
        <div class="text-center gauss gauss-jumbotron" style="color:white;">
          G A U S S
        </div>

        
        

      </footer>

    </div>

    <script type="text/javascript" src="/static/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/jquery-latest.js"></script>
    <script>if(typeof window.Int16Array !== 'function')document.write("<scri"+"pt src='dependencies/typedarray.js'></scr"+"ipt>");</script>
    <script type="text/javascript" src="/static/plotly.min.js"></script>
  </body>

  <script>
    $(document).ready(function(){
      var active_tab = "{{ active_tab }}";
      $(active_tab).addClass('active');
    });
  </script>

  </html>



