      <hr>

      <footer>
        <p class="pull-right">
          <a href="#">
            Back to top
          </a>
        </p>
        <p>
          This is our footer
          <a href="#">
            Privacy
          </a> 
          &middot; 
          <a href="#">
            Terms
          </a>
        </p>
      </footer>

    </div>
  </body>

  <script>
    $(document).ready(function(){
      var active_tab = "{{ active_tab }}";
      $(active_tab).addClass('active');
    });
  </script>

</html>

