      <hr>

      <footer>
        <p class="pull-left" style="padding-left: 15px">
        Acknowledgements to Plot.ly, Bootstrap, and CMU
        </p>
        
        <p class="pull-right" style="padding:right: 15px">
          Copyright © 2015 by PGSS
        </p>
        

      </footer>

    </div>

    <script type="text/javascript" src="/static/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/jquery-latest.js"></script>
    <script>if(typeof window.Int16Array !== 'function')document.write("<scri"+"pt src='dependencies/typedarray.js'></scr"+"ipt>");</script>
    <script type="text/javascript" src="/static/plotly.min.js"></script>
  </body>

  <script>
    $(document).ready(function(){
      var active_tab = "{{ active_tab }}";
      $(active_tab).addClass('active');
    });
  </script>

</html>

