<!DOCTYPE html>
<html>
  <head>
    <title>GAUSS | SciReact</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> </link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <link href="/static/application.css" rel = "stylesheet" type = "text/stylesheet"></link >
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,900italic,500,400italic,700italic,700,500italic,400' rel='stylesheet' type='text/css'>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script>if(typeof window.Int16Array !== 'function')document.write("<scri"+"pt src='dependencies/typedarray.js'></scr"+"ipt>");</script>
    <script type="text/javascript" src="/static/plotly.min.js"></script>
  </head>

  <body>
    <!-- Sets up navbar -->
    <nav class="navbar navbar-default navbar-fixed-top col-md-12">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/skeletonpages/">GAUSS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="input-nav"><a href="/skeletonpages/simulations/new/">Input</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="/accounts/{{user.username}}/">My Profile</a></li>
              <li><a href="/accounts/{{user.username}}/edit">Edit Info</a></li>
              <li id=""><a href="/accounts/signout">Log Out</a></li>
            {% else %}
              <li id=""><a href="/accounts/signin">Log In</a></li>
            {% endif %}
            <li id="about_us-nav"><a href="/skeletonpages/about_us">About Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="full-content">
